<div class="perfil-container">

  <div class="datos-perfil">

    <figure>
      <img class="imagen-perfil" src="/imgs/perfil-default.webp" alt="no hay imagen">
    </figure>

    <div class="datos-perfil__info">
      <p> <b>Usuario:</b> {{usuario.nombre}} {{usuario.apellido}}</p>
      <p> <b>Email:</b> {{usuario.correo}}</p>
      <p> <b>Miembro desde:</b> {{usuario.createdAt}}</p>
      <p> <b>Compras:</b> realizadas: 10</p>
    </div>
  </div>

  <div style="flex: 1; padding: 0 1rem" class="scroll-compras">
    <h3 style="text-align: center; font-size: 1.8rem">Historial de compras</p>

      {{#if compras}}
      <div class="contenedor-compras">

        {{#each compras}}
        <div class="contenedor-compras__item">
          <div>
            <spann><b>Fecha de compra:</b> {{createdAt}}</span>
              <p><b>Monto:</b> S/.{{total}}</p>
          </div>
          <a class="contenedor-compras__button" href="/compra-detalle/{{id}}">Ver</a>
        </div>
        {{/each}}
      </div>
      {{else}}
      <h2 style="
        text-align: center;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        ">No hay compras realizadas aún</h2>
      {{/if}}
  </div>
</div>